.aba-central{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
}
.menu__aba-central{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    font-size: 12px;
   color:  rgb(122, 122, 121);
   text-align: center;
   margin: 8px;
     
    
}
.icones__aba-central{
display: flex;
justify-content: space-between;
gap: 8px;
    
}

.imagens__aba-central{
    display: flex;
    justify-content: space-between;
    width: 16px;
    margin-bottom: 174px;
    align-items: center;
    text-align: center;
}
.imagens-stats__aba-central{
    width: 44px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
