.aba-central{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    border-radius: 8px 44px 8px 8px;
    width: 100%;
    height: 300px;
}
.titulo__aba-central{
    text-align: left;
    font-size: 28px;
    padding: 8px;
}

.texto__depoimento{
    padding: 2px 0px 4px 4px;
    
}
.menu__aba-central{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    font-size: 18px;
   color:  rgb(122, 122, 121);
   text-align: center;
   margin: 8px 28px;
     
    
}
.icones__aba-central{
display: flex;
justify-content: space-between;
gap: 8px;
    
}

.imagens__aba-central{
    display: flex;
    justify-content: space-between;
    width: 24px;
    margin-bottom: 174px;
    align-items: center;
    text-align: center;
  
}


.recados__aba-central, .fotos__aba-central, .fotos-casal__aba-central, .videos__aba-central{
    display: block;
  }
.imagens-stats__aba-central{
    width: 48px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
    margin: 0 8px;
   
}



    @media(max-width: 750px){
        .aba-central{
            width: 50%;
            height: 70%;
        }

        .recados__aba-central, .fotos__aba-central, .fotos-casal__aba-central, .videos__aba-central{
        display: none;
      }
      .fas, .legal, .confiavel , .sexy{
        width: 20%;
      }
        
        
    }