.amigos-comunidades{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: white;
        border-radius: 8px;
        margin: 8px 8px 10px 8px;
        width: 40;

    }
.amigos__lista{
    display: flex;  
    justify-content: space-between;
    gap: 4px;
    
}
.amigo{
    text-align: center;
}
.amigos__imagens,.comunidade__imagens{
    width: 74px;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
   
    
}
.comunidade__titulo, .amigos__titulo{
    color: var(--preto-principal);
    font-size: 24px;
    text-align: center;
}
.comunidades__lista{
   margin: 2px 4px;
}
.comunidade__imagens{
    margin: 8px;
  
}



@media (max-width: 750px) {
    .amigos-comunidades {
        width: 40%;
        margin-left: 4px;
     
    }

    .amigo {
        text-align: center;
        font-size: 8px;
    }

    .amigos__lista {
        display: flex;
        gap: 2  px;
        justify-content: center;
        text-align: center;
       align-items: center;    
}

    .amigos__imagens {
     
            width: 50%;
            padding: 4px;
            flex-direction: row;
            text-align: center;
            justify-content: center;
        
        
    }
    .comunidade__imagens{
        width: 40%;
        padding: 4px;
        flex-direction: row;
        text-align: center;
        align-items: center;
    }
    .comunidade__titulo, .amigos__titulo {
        font-size: 12px;
      
    }
    .comunidade__itens{
        font-size: 8px;
    text-align: left;
    }
}
