.amigos-comunidades{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: white;
        border-radius: 8px;
        margin-left: 8px;
        width: 320px;
    }
.amigos__lista{
    display: flex;
    justify-content: space-between;
    gap: 4px;
    
}
.amigo{
    text-align: center;
}
.amigos__imagens{
    width: 74px;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    
}

@media (max-width: 750px) {
    .amigos-comunidades {
        width: 50%;
        margin-left: 4px;
     
    }

    .amigos__lista {
        display: flex;
        gap: 4px;
        justify-content: center;
        text-align: center;
       align-items: center;    
}

    .amigos__imagens {
        width: 50%;
        padding: 4px;
        flex-direction: row;
        text-align: center;
        align-items: center;
        
    }
}
