.perfil{
    display: flex;
    flex-direction: column;
    background-color: white; 
    margin: 0 4px 0 4px;;
    border-radius: 8px;
   height: 340px;
   width: 15%;
    
    
}



.foto__casal{
    width: 70%;
    margin: 8px 8px;
   
}
.status{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    
}
.stats{
    font-size: 12px;
    color: black;
 
}
.sexo{
    font-size: 12px;
    color: rgb(150, 147, 144);
}
.pais{
    font-size: 12px;
    color: rgb(150, 147, 144);
}
.depoimento__imagem{
    width: 12px;
    padding-right: 1px;
    margin: 0.2px;
    text-align: center;
}
.perfil__imagem{
    width: 12px;
   padding-right: 1px;
    margin: 0.2px;
    text-align: center;

}
.recado__imagem{
    width: 12px;
    padding-right: 1px;
    margin: 0.2px;
    text-align: center;
}
.foto__imagem{
    width: 12px;
    padding-right: 1px;
    margin: 0.2px;
    text-align: center;
}
.video__imagem{
    width: 12px;
    padding-right: 1px;
    margin: 0.2px;
    text-align: center;
}

.atualizacoes__imagem{
    width: 12px;
    padding-right: 1px;
    margin: 0.2px;
    text-align: center;
}
.eventos__imagem{
    width: 12px;
    padding-right: 1px;
    margin: 0.2px;
    text-align: center;
}

.menu__depoimento a{
    text-decoration: none;
    padding-left: 12px;
    
    
}
.menu__depoimento{
    text-decoration: none;
    color: rgb(48, 196, 255);
    font-size: 14px;
    margin-left: 8px;
  
}
.menu__depoimento-item a{
    text-decoration: none;
    padding-left: 10px;
    color: rgb(48, 196, 255);
}
.menu__depoimento-item{
    text-decoration: none;
    color: rgb(48, 196, 255);
    font-size: 14px;
    margin-left: 8px;
  
}


@media(max-width: 750px){
    .perfil{
        width: 50%;
        height: 70%;
    }
    .stats, .sexo{
        font-size: 6px;
    }
    .menu__depoimento, .menu__depoimento-item{
        font-size: 10px;
    }
    .depoimento__imagem, .perfil__imagem, .recado__imagem, .foto__imagem,.video__imagem,.atualizacoes__imagem,.eventos__imagem{
               width: 8px;
    }   

}