.header{
    background-color: var(--cor-principal);
}

.container__banner{
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-principal);
    padding: 16px 8px;
    max-width: 900px;
    
}

.logo__header{
    width: 72px;
    
}

.lista-menu{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    text-align: center;
    align-items: center;
   

}
.lista-menu__titulo{
    background-color: var(--cor-secundaria);
    border-radius: 4px;
    padding: 4px;


}
.lista-menu__item{
    background-color: var(--cor-secundaria);
    border-radius: 4px;
    padding: 4px;
    display: block;
   

}
.lista-titulo__link{
    text-decoration: none;
    color: var(--branco-secundario);
    
}

.lista-menu__link{
    text-decoration: none;
    color: var(--branco-secundario);
}

.busca{
    width: auto;
    text-align: right;
    background-color: rgb(200, 244, 248);
}



@media(max-width: 750px){
  .lista-menu__item{
        display: none;
    }

 

    .busca{
        width: 102px;
        padding-right: 8px;
    }
    .logo__header{
        width: 40px;
        
        
    }
    
}