 .rodape {
     background-color: var(--cor-principal);
    }
    
    .rodape__lista {
        display: flex;
        list-style-type: none;
        margin-bottom: 5px;
        justify-content: space-between;
        align-items: center;
    }
    .lista__link{
        color: var(--cor-secundaria);
    }
    .lista__link a{
        text-decoration: none;
        color: var(--branco-principal)
    }


