 .rodape {
     background-color: var(--cor-principal);
     bottom: 0;
     width: 90%;
     margin:  -19px 10px;
 
    }
    
    .rodape__lista {
        display: flex;
        list-style-type: none;
        margin-bottom: 5px;
        justify-content: space-between;
        align-items: center;
      
    
       
    }
    .lista__link{
        color: var(--cor-secundaria);
    }
    .lista__link a{
        text-decoration: none;
        color: var(--branco-principal)
    }


    @media(max-width: 750px){
        .rodape__lista{
            font-size: 8px  ;
        }

    }