@import url(header.css);
@import url(reset.css);
@import url(depoimento.css);
@import url(aba-central.css);
@import url(comunidades-amigos.css);

.body{
    height: 100%;
    
}
.central{
    height: 100%;
    display: flex;
    background-color: rgb(200, 244, 248);
}