@import url(header.css);
@import url(reset.css);
@import url(depoimento.css);
@import url(aba-central.css);
@import url(comunidades-amigos.css);
@import url(criar-depoimento.css);
@import url(rodape.css);

:root{

    --cor-principal: rgb(200, 244, 248);
    --cor-secundaria: rgb(48, 196, 255);
    --branco-secundario: rgb(236, 236, 236);
    --preto-principal: #000000;
    --cinza-principal:rgb(150, 147, 144);
    --cor-terciaria: rgb(228, 246, 248);
}
.body{
  min-height: 100vh;
   height: px;
   width: 1000px;
    background-color: var(--cor-principal);
    
    
}
.central{
  height: 100%;
  width: auto;
  display: flex;
  background-color: var(--cor-principal);
  margin-bottom: 20px;
  
}